:root {
  --branding-color: #ea4f90;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Playfair Display", serif;
}
.navbar-brand,
.nav-link {
  font-family: var(--heading-font-family);
}
.navbar-nav {
  margin-left: auto;
}
h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
p {
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
}

.hero {
  background: #d9d8df;
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-size: 116px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.project-description {
  padding: 170px 60px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

footer .contact-box {
  background: #e3e3f3;
  padding: 30px 120px;
  border-radius: 10px;
}
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 50px;
}
footer .email-link {
  text-decoration: none;
  font-size: 24px;
  color: var(--branding-color);
  font-family: var(--heading-font-family);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: #e3e3f3;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  margin-bottom: 40px;
}
footer .email-link:hover {
  text-decoration: underline;
  color: #b9b9c4;
}
.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.about-section h2 {
  font-size: 19px;
  font-family: var(--default-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 40px;
  font-family: var(--heading-font-family);
  font-weight: bolder;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}

.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
